Enter your email to get a new password sent to you.

<form method="post" action="/sessions/new">
  <p>
    <input type="text" name="email" placeholder="email">
  </p>
  <input type="submit" value="Submit" class="button">
</form>