Enter your new password.

<form method="post" action="/users/delete_token">
  Password: <input type="password" name="password">
  Confirm password: <input type="password" name="password_confirmation">
  <input type="hidden" name="token" value=<%= @token %> >

  <input type="submit" value="Reset password">
</form>