Enter your new password.

<form method="post" action="/users/delete_token">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_confirmation" placeholder="password confirmation">
  <input type="hidden" name="token" value = "<%= @token %>" >

  <input type="submit" value="Reset" class="button">
</form>