<h1>Submit a new link</h1>

<form action="/links" method="POST">
  <p>
    <input type="text" name="url" placeholder="URL">
  </p>
  <p>
    <input type="text" name="title" placeholder="Title">
  </p>
  <p>
    <input type="text" name="tags" placeholder="Tags (space separated)">
  </p>
  <p>
    <input type="submit" value="Add link" class="button">
  </p>
</form>
