<!-- note than only classes are used in this partial, not ids -->
<!-- Since this partial is going to be repeated several times on the page, we can't use any ids because every id is meant to be unique on the page. -->
<li class="link">
  <a class="title" href="<%= link.url %>"><%= link.title %></a>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <span class="source">
    added yesterday by
    <a href="#">juliatan</a>
  </span>
</li>