<% if current_user %>
    Welcome, <%= current_user.email %>
    <form method="post" action="/sessions">
      <!-- this is used since browsers cannot send DELETE requests -->
      <!-- note the _method -->
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>
  <% end %>